[requires]
python_version = "3.6"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
freezegun = "==0.3.9"

[packages]
Django = "==2.1.5"
Fabric = "==1.8.0"
django-extensions = "*"
drf-extensions = "==0.4.0"
gunicorn = "==19.9.0"
redis = "==3.0.1"
hiredis = "==0.3.1"
pytz = "==2013d"
django-allauth = "==0.37.0"
django-nose = "*"
django-lazysignup = "==1.0.2"
django-model-utils = "==3.1.1"
rq = "*"
django-rq = "*"
rq-dashboard = "*"
natto-py = "==0.9.0"
twython = "==3.4.0"
djangorestframework = "==3.9.1"
django-filter = "==1.1.0"
Markdown = "==2.6.11"
django-crispy-forms = "==1.7.2"
requests = {extras = ["security"]}
humanize = "==0.5.1"
python-dateutil = "*"
djoser = "==1.4.0"
django-silk = "*"
raven = "*"
python-memcached = "==1.59"
sparkpost = "*"
"Jinja2" = "==2.10"
django-webpack-loader = "==0.6.0"
django-admin-sortable = "==2.1.4"
Pillow = "==5.1.0"
lxml = "==4.3.0"
"beautifulsoup4" = "==4.6.0"
"html5lib" = "==1.0.1"
cssselect = "==1.0.1"
feedgen = "*"
abdb104 = {file = "https://github.com/dcramer/django-devserver/archive/master.zip"}
sqlparse = "*"
Werkzeug = "*"
line_profiler = "*"
bpython = "*"
Unidecode = "*"
e39c1a3 = {file = "https://github.com/aehlke/django-snippetscream/archive/master.zip"}
WebOb = "==1.8.1"
django-timezones = "==0.2"
05b7bbf = {file = "https://github.com/aehlke/django-catnap/archive/master.zip"}
"rfc3339" = "==6"
whitenoise = "*"
nose = "*"
itunes-iap = {git = "https://github.com/youknowone/itunes-iap.git",ref = "452afa2107d7e5b79248b981fed01b1c2f5caca3"}
"psycopg2" = "*"
feedparser = "*"
praw = "*"
ipython = "<6"
social-auth-app-django = "*"
"django-rest-framework-social-oauth2" = "*"
mecab-python3 = {git = "https://github.com/SamuraiT/mecab-python3.git",ref = "aaac65033963474d02b3c8a9bb27c6e6fa214161"}
jcconv = {git = "https://github.com/besser82/jcconv.git",ref = "v0.2.4"}
django-cachecow = {git = "https://github.com/aehlke/django-cachecow.git"}
django-autoslug = {git = "https://github.com/justinmayer/django-autoslug.git",ref = "4dc75083d84265e019a900d636273c731457193d"}
freezegun = "==0.3.10"
django-impersonate = "*"
requests-html = {git = "https://github.com/kennethreitz/requests-html.git",ref = "47b2ad86cab49167fb15cce787efca74c4de9fdd"}
