# {{ ansible_managed }}

search_index: /var/lib/graphite-api/index
whisper:
  directories:
    - /var/lib/graphite/whisper
time_zone: UTC
sentry_dsn: https://759ba863e9ee4eb2bacf129a77c28085:112ae87267b34cfeaef3c1bf71a47176@sentry.io/140405
