# {{ ansible_managed }}

server {
    listen 80;

    server_name {{ prometheus.hostname }};
    charset     utf-8;

    location / {
        proxy_pass http://localhost:{{ prometheus.oauth2_proxy_port }};
    }
}
