# {{ ansible_managed }}

server {
    listen 80;

    # the domain name it will serve for
    server_name beta.{{ app_hostname }};
    charset     utf-8;

    # max upload size
    client_max_body_size 1M;

    rewrite ^/$ https://reader.manabi.io redirect;
}

