<!doctype html>
<html class="no-js {{ 'authenticated' if request.user.is_authenticated() else 'anonymous' }}" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Manabi | {% block title %}Japanese Flashcards for iOS{% endblock %}</title>
        <meta name="description" content="Manabi is an iPhone flashcards app built specificially for Japanese.">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" href="{{ DEFAULT_URL_PREFIX }}{{ static('img/apple-touch-icon.png') }}">

        <meta name="apple-itunes-app" content="app-id=8Y769YTXHF.io.manabi.Manabi, app-argument={{ DEFAULT_URL_PREFIX + request.get_full_path() }}">
        <meta property="og:image" content="{{ DEFAULT_URL_PREFIX }}{{ static('img/manabi-icon-medium.png') }}">
        <meta property="og:image:width" content="300">
        <meta property="og:image:height" content="300">

        <link rel="stylesheet" href="{{ static('css/normalize.min.css') }}">
        <link rel="stylesheet" href="{{ static('css/html5boilerplate.css') }}">
        <link rel="stylesheet" href="{{ static('bootstrap/dist/css/bootstrap-flex.min.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

        <link rel="stylesheet" href="{{ static('css/base.css') }}">

        {# <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script> #}
        <script src="{{ static('js/modernizr.min.js') }}"></script>

        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container navbar-container">
            <div class="header clearfix">
                {% if request.user.is_anonymous() %}
                    {% include "snippets/nav_anonymous.html" %}
                {% else %}
                    {% include "snippets/nav_authenticated.html" %}
                {% endif %}

            </div>
        </div>

        <div class="container">
            {% if request.resolver_match.url_name != 'homepage' %}
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    {% block breadcrumbs %}{% endblock %}
                </ol>
            {% endif %}
        </div>

        {% block messages %}
            <div class="container">
                {% for message in messages %}
                    {% set alert_class = 'info' %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        {% set alert_class = 'success' %}
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        {% set alert_class = 'info' %}
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                        {% set alert_class = 'warning' %}
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        {% set alert_class = 'danger' %}
                    {% endif %}
                    <div class="alert alert-{{ alert_class }}" role="alert">
                        {{ message|safe }}
                    </div>
                {% endfor %}
            </div>
        {% endblock %}

        {% block content_container %}
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}

        <div class="container">
            <footer class="footer">
                <p>&copy; Alex Ehlke 2016</p>
            </footer>
        </div>

        <script>
            window.defaultUrlPrefix = {{ json(DEFAULT_URL_PREFIX)|safe }}
            window.apiUrlPrefix = {{ json(DEFAULT_URL_PREFIX)|safe }}
        </script>

        <script src="{{ static('js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ static('js/tether-1.3.7.min.js') }}"></script>
        <script src="{{ static('bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js" integrity="sha256-9wRM03dUw6ABCs+AU69WbK33oktrlXamEXMvxUaF+KU=" crossorigin="anonymous"></script>
        <script src="{{ static('js/base.js') }}"></script>

        {#
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha256-/5pHDZh2fv1eZImyfiThtB5Ag4LqDjyittT7fLjdT/8=" crossorigin="anonymous"></script>
        #}

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-86139003-1','auto');ga('send','pageview');
        </script>

        {% block extra_body_scripts %}{% endblock %}
    </body>
</html>
