<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Manabi | {% block title %}Japanese Flashcards for iOS{% endblock %}</title>
        <meta name="description" content="Manabi is an iPhone flashcards app built specificially for Japanese.">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- link rel="apple-touch-icon" href="apple-touch-icon.png" -->

        <link rel="stylesheet" href="{{ static('css/normalize.min.css') }}">
        <link rel="stylesheet" href="{{ static('css/html5boilerplate.css') }}">
        <link rel="stylesheet" href="{{ static('css/bootstrap-flex.min.css') }}">
        {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css" integrity="sha256-LB8XW7EkyeYr9VwAm82rQ9EaZsiUpOjtIfejQmNVqz0=" crossorigin="anonymous" /> #}
        {# <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> #}

        <link rel="stylesheet" href="{{ static('css/base.css') }}">

        {# <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script> #}
        <script src="{{ static('js/modernizr.min.js') }}"></script>

        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
            <div class="header clearfix">
                {% if request.user.is_anonymous() %}
                    {% include "snippets/nav_anonymous.html" %}
                {% else %}
                    {% include "snippets/nav_authenticated.html" %}
                {% endif %}
            </div>
        </div>

        {% block messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endblock %}

        {% block content_container %}
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}

        <div class="container">
            <footer class="footer">
                <p>&copy; Alex Ehlke 2016</p>
            </footer>
        </div>


        <script src="{{ static('js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ static('js/tether-1.3.7.min.js') }}"></script>
        <script src="{{ static('js/bootstrap.min.js') }}"></script>
        {#
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha256-/5pHDZh2fv1eZImyfiThtB5Ag4LqDjyittT7fLjdT/8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha256-j+XrvkQ4jJ99Hj0pJKPr6k0RCgxDDSTs3PBqLrX2EMc=" crossorigin="anonymous"></script>
        #}

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-86139003-1','auto');ga('send','pageview');
        </script>

        {% block extra_body_scripts %}{% endblock %}
    </body>
</html>
