{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ static('css/homepage.css') }}">
{% endblock %}

{% block content%}
    <div style="padding:1rem; border-radius:.3rem; background-color:#f5f5f5;">
        <strong>Welcome to the beta!</strong> <em>Manabi is still very much a work-in-progress; so far, the majority of the functionality is within the iPhone app. This website's purpose for now is to create and share decks of flashcards. Leave feedback <a href="https://twitter.com/manabiSRS">@manabiSRS on Twitter</a>—you'll hear back within the day.</em><span style="font-size:1.4rem;line-height:1rem;position:relative;top:.1rem;"> 👹</span>
    </div>

    <div class="prompt-container">
        {% include 'flashcards/snippets/create_cards_prompt_form.html' %}
    </div>

    <div class="decks-container">
        <h2>My Decks</h2>
        {% include 'flashcards/snippets/deck_list.html' %}
    </div>
{% endblock %}
