{% extends 'base.html' %}

{% block content %}
<h1>Manabi requires iOS</h1>
<p>Looks like you're trying to use Manabi from a non-iOS (iPhone/iPod) device. Unfortunately, Manabi currently requires an iOS device to learn and review flashcards. The website is only used to manage your content.</p>
<p>Please try accessing the link again from an iOS device if you have one. Otherwise, stay tuned as Manabi will eventually have wider platform support.</p>
<p>Message us on Twitter <a href="https://twitter.com/manabiSRS">@manabiSRS</a> if you're having trouble.</p>
{% endblock %}
