{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ static('css/landing-page.css') }}">
{% endblock %}

{% block content_container %}
    <div class="landing-page-hero">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="landing-page-hero-message">
                        <h1>Manabi</h1>
                        <p>Intelligent flashcards for iPhone,<br>specially-built for Japanese.</p>
                        <p><a class="btn btn-lg btn-success" href="http://beta.manabi.io" role="button">Get Beta Invite</a></p>
                        <div style="opacity: .5; position: relative; top: -.5rem;">Coming Fall 2016</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
