{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ static('css/deck.css') }}">
{% endblock %}

{% set deck = data %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ url('deck-list') }}">Decks</a></li>
{% endblock %}

{% block content %}
    <div class="row shared-deck-header">
        <div class="col-sm-8">
            <h1>{{ deck.name }}</h1>
            <div id="deck-author">by <a href="{{ url('user-profile', args=[deck.original_author.username]) }}">{{ deck.original_author.username }}</a></div>
        </div>
        <div class="col-sm-4 offset-sm-0 add-deck-container">
            {% if request.user.is_authenticated() %}
                {% if deck.owner.id != request.user.id %}
                    <button
                        type="button"
                        id="add-deck-button"
                        class="btn btn-primary btn-lg btn-block add-deck"
                        data-toggle="tooltip"
                        title="Add this deck to your library to include it in reviews."
                    >Add Deck</button>
                {% endif %}
            {% else %}
                <button
                    type="button"
                    id="add-deck-branch-link-button"
                    class="btn btn-primary btn-lg btn-block add-deck"
                >Start Learning!</button>
                <div id="add-deck-button-caption">Get Manabi on iPhone to learn and review this deck.</div>
            {% endif %}
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {{ 'active' if request.resolver_match.url_name == 'deck-detail' else '' }}" href="{{ url('deck-detail', args=[deck.id, deck.slug]) }}">Overview</a>
        </li>
        <li class="nav-item">
            {% set card_count = deck.card_count %}
            <a class="nav-link {{ 'active' if request.resolver_match.url_name == 'deck-facts' else '' }}" href="{{ url('deck-facts', args=[deck.id, deck.slug]) }}">{{ card_count }}
                {% trans card_count=card_count %}
                    Card
                {% pluralize %}
                    Cards
                {% endtrans %}
            </a>
        </li>
    </ul>

    {% block deck_content %}{% endblock %}
{% endblock %}

{% block extra_body_scripts %}
    <script>
        // Branch.io initialization.
        (function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-latest.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode autoAppIndex banner closeBanner creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setBranchViewData setIdentity track validateCode".split(" "), 0);
        branch.init('{{ BRANCH_KEY }}', function(err, data) {
            // callback to handle err or data
        });

        $(function() {
            $('#add-deck-button').click(function(e) {
                e.preventDefault()

                apiRequest(
                    'flashcards/synchronized_decks/',
                    'POST',
                    { synchronized_with: {{ deck.id }} },
                    true,
                    "Adding Deck…"
                )
                    .done(function() {
                        location.reload()
                    })
            })

            $('#add-deck-branch-link-button').click(function(e) {
                e.preventDefault()


            })
        })
    </script>
{% endblock %}
