{% extends "flashcards/deck_detail_base.html" %}

{% set deck = data %}

{% block deck_content %}
    <div class="deck-facts list-group">
        {% for fact in deck.facts %}
            <a href="{{ url('fact-detail', args=[fact.id]) }}" class="list-group-item list-group-item-action">
                <span class="tag tag-default tag-pill float-xs-right">
                    {% set card_count = fact.card_count %}
                    {{ card_count }}
                    {% trans card_count=card_count %}
                        Card
                    {% pluralize %}
                        Cards
                    {% endtrans %}
                </span>
                <div class="fact-expression">{{ (fact.reading or fact.expression)|as_ruby_tags|safe }}</div>
                <div class="fact-meaning">{{ fact.meaning }}</div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
