{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ static('css/deck.css') }}">
{% endblock %}

{% block title %}Create Deck{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ url('deck-list') }}">Decks</a></li>
{% endblock %}

{% block content %}
    <h1>Create Deck</h1>

    <form action="{{ request.get_full_path() }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <fieldset class="form-group">
            {{ form.as_p() }}
        </fieldset>

        <button type="submit" class="btn btn-primary">Create Deck</button>
    </form>
{% endblock %}
