{% extends "base.html" %}

{% set deck = data %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ url('deck-list') }}">Decks</a></li>
{% endblock %}

{% block content %}
    <h1>{{ deck.name }}</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {{ 'active' if request.resolver_match.url_name == 'deck-detail' else '' }}" href="{{ url('deck-detail', args=[deck.id]) }}">Overview</a>
        </li>
        <li class="nav-item">
            {% set card_count = deck.card_count %}
            <a class="nav-link {{ 'active' if request.resolver_match.url_name == 'deck-facts' else '' }}" href="{{ url('deck-facts', args=[deck.id]) }}">{{ card_count }}
                {% trans card_count=card_count %}
                    Card
                {% pluralize %}
                    Cards
                {% endtrans %}
            </a>
        </li>
    </ul>

    {% block deck_content %}{% endblock %}
{% endblock %}
