{% extends "base.html" %}

{% block title %}Create Flashcards{% endblock %}

{% block content %}
    <form action="" method="post" novalidate>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div class="form-group">
            <select class="form-control" id="deck-choice">
                <option>Choose deck</option>
                {% for deck_option in serializer.deck.iter_options() %}
                    <option value="{{ deck_option.value }}" {{ 'selected' if deck_option.value == serializer.deck.value }} {{ 'disabled' if deck_option.disabled }}>{{ deck_option.display_text }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <div id="annotated-japanese-input" class="form-control"></div>

            <input type="text" class="form-control {{ '.form-control-danger' if serializer.meaning.errors }}" placeholder="Meaning" value="{{ serializer.meaning.value }}">
            {% for error in (serializer.meaning.errors or []) %}
                <div class="form-control-feedback">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {% for template_name, label in serializer.active_card_templates.choices.items() %}
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="{{ template_name }}" {{ 'checked' if template_name in (serializer.active_card_templates.value or []) }}>
                        {{ label }}
                    </label>
                </div>
            {% endfor %}
            {% for error in (serializer.active_card_templates.errors or []) %}
                <div class="form-control-feedback">{{ error }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-default btn-primary">Create Flashcards</button>
    </form>
{% endblock %}
