{% extends "base.html" %}

{% block title %}Create Flashcards{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ static('css/fact.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/flat/red.css" integrity="sha256-TzCPxesYP9nYi0osSmNFoC6Nd4J4VjCTY+52NKjCxuk=" crossorigin="anonymous" />
{% endblock %}

{% block breadcrumbs %}
    {% if fact.deck %}
        <li class="breadcrumb-item"><a href="{{ url('deck-list') }}">Decks</a></li>
        <li class="breadcrumb-item"><a href="{{ url('deck-detail', args=[fact.deck_id]) }}">{{ fact.deck.name }}</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <form action="{{ request.get_full_path() }}" method="POST" enctype="multipart/form-data" novalidate>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="checkbox" name="{{ serializer.suspended.name }}" value="{{ serializer.suspended.value }}" style="display: none;">

        <fieldset class="form-group">
            <select class="form-control {{ '.form-control-danger' if serializer.deck.errors else '' }}" id="deck-choice" name="{{ serializer.deck.name }}">
                <option value="">Choose deck</option>
                {% for deck_option in serializer.deck.iter_options() %}
                    {{deck_option.value}}
                    <option value="{{ deck_option.value }}" {{ 'selected' if (serializer.deck.value and int(deck_option.value) == int(serializer.deck.value)) else '' }} {{ 'disabled' if deck_option.disabled else '' }}>{{ deck_option.display_text }}</option>
                {% endfor %}
            </select>
            {% for error in (serializer.deck.errors or []) %}
                <div class="form-control-feedback">{{ error }}</div>
            {% endfor %}
        </fieldset>

        <fieldset class="form-group">
            <div id="annotated-japanese-input" class="form-control form-control-lg"></div>

            <input id="fact-meaning-input" type="text" class="form-control form-control-lg {{ '.form-control-danger' if serializer.meaning.errors }}" name="{{ serializer.meaning.name }}" placeholder="Meaning" value="{{ serializer.meaning.value or '' }}" maxlength="{{ serializer.meaning.max_length }}">
            {% for error in (serializer.meaning.errors or []) %}
                <div class="form-control-feedback">{{ error }}</div>
            {% endfor %}
        </fieldset>

        <fieldset class="form-group">
            <legend>Cards</legend>
            {% for template_name, label in serializer.active_card_templates.choices.items() %}
                {% set active = template_name in (serializer.active_card_templates.value or []) %}
                {% if template_name != 'production' or active %}
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="{{ serializer.active_card_templates.name }}" value="{{ template_name }}" {{ 'checked' if active or (request.method == 'GET' and template_name == 'recognition') }} {{ 'disabled' if template_name == 'production' }}>
                            {{ label }}
                        </label>
                    </div>
                {% endif %}
            {% endfor %}
            {% for error in (serializer.active_card_templates.errors or []) %}
                <div class="form-control-feedback">{{ error }}</div>
            {% endfor %}
        </fieldset>

        <button type="submit" class="btn btn-default btn-primary">{% block save_button_label %}Create Flashcards{% endblock %}</button>
    </form>
{% endblock %}

{% block extra_body_scripts %}
    {% block fact_configuration_scripts_for_bundle %}{% endblock %}

    {{ render_bundle('main') }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js" integrity="sha256-8HGN1EdmKWVH4hU3Zr3FbTHoqsUcfteLZJnVmqD/rC8=" crossorigin="anonymous"></script>

    <script>
        $(function() {
            $('input:not(:hidden)').iCheck({
                checkboxClass: 'icheckbox_flat-red',
                radioClass: 'iradio_flat-red',
            })
        })
    </script>
{% endblock %}
