{% extends "flashcards/fact_base.html" %}

{% block title %}Create Flashcards{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ static('css/fact.css') }}">
{% endblock %}

{% block breadcrumbs %}
    {% if serializer.deck.value %}
        <li class="breadcrumb-item"><a href="{{ url('deck-list') }}">Decks</a></li>
        <li class="breadcrumb-item"><a href="{{ url('deck-detail', args=[serializer.deck.value]) }}">{{ serializer.deck.value.name }}</a></li>
    {% endif %}
{% endblock %}

{% block fact_configuration_scripts_for_bundle %}
    <script>
        var serializerValue = {{ json(escape(serializer.reading.value or serializer.expression.value or ''))|safe }}
        var prefillValue = {{ json(escape(request.GET.get('expression') or ''))|safe }}
        window.annotatedJapaneseInputInitialValue = (prefillValue || serializerValue || prefillValue)
    </script>
{% endblock %}

{% block extra_body_scripts %}
    {{ super() }}

    <script>
        $(function() {
            var lastSelectedDeckId = sessionStorage.getItem('last-selected-deck-id')
            if (!$('#deck-choice').val()) {
                $('#deck-choice').val(lastSelectedDeckId)
            }

            $('#deck-choice').change(function() {
                sessionStorage.setItem('last-selected-deck-id', $(this).val())
            })

            // Focus meaning input if expression is pre-filled.
            if (
                {{ json(escape(request.GET.get('expression')))|safe }}
                && !$('#fact-meaning-input').val()
            ) {
                $('#fact-meaning-input').focus()
            }
        })

    </script>
{% endblock %}
