h1 {
}
#deck-author {
    position: relative;
    top: -1rem;
    font-style: italic;
}

.shared-deck-header .add-deck-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#add-deck-button-caption {
    color: #aaa;
    text-align: center;
    font-size: .7rem;
    padding: 0 2rem;
    margin-top: 1em;
}
