# {{ ansible_managed }}
#
# Forked from https://gist.github.com/spicycode/1229612
# and https://gist.github.com/sshadmand/70a9d339f49aeaf343de7ef8f74a54a2

# 0 is too far from ` ;)
set -g base-index 1

set -g mouse on

# Automatically set window title
set-window-option -g automatic-rename on
set-option -g set-titles on
