<nav>
    <ul class="nav nav-pills float-xs-right">
        {#<li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>#}
        <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/manabiSRS">Twitter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url('account_login') }}">Log in</a>
        </li>
        {#<li class="nav-item">
            <a class="nav-link" href="{{ url('account_signup') }}">Sign up</a>
        </li>#}
    </ul>
</nav>
<h3 class="text-muted"><span class="logo">学</span> <span style="opacity:0.3;margin:0 0.3rem;">|</span> Manabi</h3>
