{#<nav class="navbar navbar-dark navbar-fixed-top bg-primary">#}
<nav class="navbar navbar-fixed-top">
    <div class="container">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>

        <div class="navbar navbar-dark bg-primary collapse navbar-toggleable-xs " id="navbar-header">
            <a class="navbar-brand" href="/"><span class="logo">学</span> <span style="opacity:0.3;margin:0 0.3rem;">|</span> Manabi</a>
            <ul class="nav navbar-nav float-xs-right">
                <li class="nav-item">
                    <span class="nav-link">{{ request.user.username }}</span>
                </li>
                <li class="nav-item {{ 'active' if request.resolver_match.url_name == 'account_email' }}">
                    <a class="nav-link" href="{{ url('account_email') }}">Settings</a>
                </li>
                <li class="nav-item {{ 'active' if request.resolver_match.url_name == 'account_logout' }}">
                    <a class="nav-link" href="{{ url('account_logout') }}">Sign out</a>
                </li>
            </ul>

            {#<form class="form-inline float-xs-right">
                <input class="form-control" type="text" placeholder="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>#}
        </div>
    </div>
</nav>
